datasets/old/*.npz

# Python cache
__pycache__/
*.pyc

# Test experiments
tests

#slurm outputs and jobs
slurm_outputs/
slurm_jobs/

# macOS
.DS_Store

last-layer-ode/plot_comparison_mech_specificity.py
last-layer-ode/plot_comparison.py
last-layer-ode/reaggregate_nrmse_summary.py
last-layer-ode/summarize_nrmse_mech_specificity.py

.env